.dashboard {

  section {
    margin: 1em auto 2em;

    h1 {
      font-size: 1.8em;
      margin-bottom: 1em;
    }

    .list {

      .header {
        display: flex;
        width: 100%;
        border: 1px solid black;
        border-radius: 5px 5px 0 0;
        border-bottom: none;
        padding: 5px;

        i {
          font-size: 24px;
          cursor: pointer;
        }

        .fa-plus-square {
          color: green;

          &:hover {
            color: lightgreen;
          }
        }
      }

      .content {
        min-height: 500px;
        border: 1px solid black;
        border-radius: 0 0 5px 5px;
        overflow-y: scroll;

        :hover {
          background: white;
        }

        .item {
          padding: 5px;
          border-bottom: 1px dotted black;
          margin: 0;
          cursor: pointer;

          > span {
            margin: auto;
          }

          img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
          }

          .gender {
            font-size: 25px;
          }
        }
      }
    }

  }
}
